/**
 * Bootstrap overwrites
 */
.collapse {
    overflow: hidden;
}
.collapse.in {
    overflow: visible;
}
h1 {
    font-size: 28px;
}


body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

/**
 * Actions
 */
.actions {
    font-size: 11px;
}
.actions.nav-pills > li > a {
    padding: 5px 7px;
}
.actions.nav-pills > li > a > [class^="icon-"] {
    margin-top: 0;
    vertical-align: text-bottom;
}


.tabs-left > .nav-tabs {
    margin-right: -1px;
}

.time_tracking {
    width: 100%;
}
.time_tracking .progress {
    height: 10px;
    margin-bottom: 0;
}
.time_tracking td.bar {
    width: 100px;
}

/**
 * Issue
 */

table.issue-details td:first-child {
    padding-right: 15px;
}

/**
 * Activity stream
 */

ul.activity-stream,
ul.activity-stream ul {
    margin: 0;
}
ul.activity-stream li {
    border-bottom: 1px solid #E5E5E5;
    list-style: none;
}
ul.activity-stream li:last-child {
    border-bottom: 0;
}
ul.activity-stream > li {
    min-height: 80px;
}

/**
 * Fluid fixes
 */

@media (max-width: 979px) {
    .container-fluid {
        width: 930px !important;
    }
}

/**
 * Issue navigator
 */
.issue-nagivator ul,
.issue-nagivator li {
    float: left;
    list-style: none outside none;
    margin: 0 0 5px;
    width: 100%;
}
.issue-nagivator .control-group:last-child {
    margin-bottom: 0;
}

time.moment:hover {
    cursor: default;
}

/**
 * Issue lists
 */

[class^="icon-issue-"] {
    background-position: 0 0;
    height: 16px;
    width: 16px;
}

.icon-issue-bug {
    background-image: url('../img/icons/issues/type-bug.png');
}
.icon-issue-documentation {
    background-image: url('../img/icons/issues/type-task.png');
}
.icon-issue-new_feature {
    background-image: url('../img/icons/issues/type-changerequest.png');
}

.icon-issue-priority-trivial {
    background-image: url('../img/icons/issues/priority-trivial.png');
}
.icon-issue-priority-minor {
    background-image: url('../img/icons/issues/priority-minor.png');
}
.icon-issue-priority-normal {
    background-image: url('../img/icons/issues/priority-normal.png');
}
.icon-issue-priority-critical {
    background-image: url('../img/icons/issues/priority-critical.png');
}
.icon-issue-priority-blocker {
    background-image: url('../img/icons/issues/priority-blocker.png');
}

.icon-issue-status-unassigned {
    background-image: url('../img/icons/issues/status-unassigned.png');
}
.icon-issue-status-assigned {
    background-image: url('../img/icons/issues/status-assigned.png');
}
.icon-issue-status-closed {
    background-image: url('../img/icons/issues/status-closed.png');
}
.icon-issue-status-in_progress {
    background-image: url('../img/icons/issues/status-inprogress.png');
}
.icon-issue-status-testing {
    background-image: url('../img/icons/issues/status-reopened.png');
}
