{% extends "PMTWebBundle::emptyLayout.html.twig" %}
{% trans_default_domain 'PMTWebBundle' %}

{% block region_header %}
    {% if is_granted('ROLE_USER') %}
        {% block content_header %}
            <div class="row">
                <div class="col-lg-8">
                    <h1>{% block content_title %}{% endblock %}</h1>
                </div>
                <div class="col-lg-4">
                    {% block content_actions %}
                        <ul class="actions nav nav-pills pull-right">
                            <li class="active">
                                <a href="{{ path('pmtweb_issue_form') }}"><i class="glyphicon glyphicon-plus"></i> Create
                                    issue</a>
                            </li>
                        </ul>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block region_menu %}
    {% if is_granted('ROLE_USER') %}
        <div class="navbar navbar-fixed-top">
            <div class="container">
                {{ render(controller('PMTWebBundle:Menu:primary')) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
