{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request box-wrapper">
    <div>
        <h2 class="form-reset-heading">Reset Password</h2>
        {% if invalid_username is defined %}
            {% include 'PMTWebBundle:Form:errors.html.twig' with {'errors': ['resetting.request.invalid_username'|trans({'%username%': invalid_username})], 'type': 'error'} %}
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" class="input-block-level" />
    </div>
    <div>
        <a class="btn btn-large btn-link pull-right" href="{{ path('pmtweb_dashboard') }}">Back</a>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-large btn-primary" />
    </div>
</form>
